<div class="container">
    <div class="hero-unit">
        <h1>Github Commit Viewer</h1>
        <p>This application allows you to view a Github repository's commits and optionally view the files committed.</p>
    </div>
    <div class="row">
        <div class="span4"></div>
        <div class="span4">
            <input data-bind="value: repoName" type="text" class="span4" placeholder="Github repository (<username>/<repoName>)" />
        </div>
        <div class="span4">
        </div>
    </div>

    <div class="row" style="margin-bottom: 10px">
        <div class="span5"></div>
        <div class="span2">
            <a class="btn btn-success btn-large btn-block" data-bind="click: getCommits" href="#"><i class="icon-download icon-white"></i> Fetch!</a>            
        </div>
        <div class="span5"></div>
    </div>
    
    <table id="commitList" class="table table-striped"  data-bind="foreach: commits">
        <tbody>
            <tr class="row">
                <td class="span10">
                    <h4 data-bind="text: commit.message"></h4>
                    <div>
                        Committed by <span data-bind="text: committer.login"></span>
                    </div>
                    <div data-bind="foreach: commit.files, attr: { id: sha }" class="commitFiles collapse">
                        <span data-bind="text: filename"></span>
                    </div>
                </td>
                <td class="span2">
                    <button type="button" class="btn btn-primary" data-bind="click: $root.getFiles, attr: { 'data-target': '#' + sha() }" data-toggle="collapse">View Files</button>
                </td>
            </tr>
        </tbody>
    </table>

</div>

@section scripts
{
    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/app")
}
